#lyricsPanel {
    height: 100%;

    align-items: center;
}

/* 动态背景 */
#dynamicBackgroundContainer{
    width: 100%;
    height: 100%;
    position: absolute;

    background: transparent;

    z-index: -1;
}
#dynamicBackground {
    width: 100%;
    height: 100%;
}

/* 顶栏 */
#panelTop {
    width: 100%;

    padding: 0 2rem;

    justify-content: flex-end;
}

/* 隐藏歌词界面 */
#lyricsHide {
    appearance: none;
    width: 3rem;
    height: 3rem;

    background: transparent;
    border: none;
    border-radius: 6px;

    margin-top: 2rem;

    transition: all 200ms ease-in-out;
}
#lyricsHide > img {
    position: relative;
    top: 2px;

    transform: rotate(180deg);
}
#lyricsHide:hover {
    background: var(--transparent-grey);
}

/* 面板主界面 */
#panelMain {
    width: 100%;
    height: calc(100vh - 5rem);

    padding: 0 5%;

    justify-content: space-evenly;
    align-items: center;
}

#controller {
    width: 40%;

    align-items: center;
}

/* 歌曲信息 */
#songInfo {
    width: 100%;
    height: 60%;

    align-items: center;
    justify-content: center;
}
#songCover {
    width: 70%;
    height: 70%;

    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--transparent-darkgrey);

    margin: 1rem 0;
}
#playerInfo {
    width: 100%;
    height: 30%;
}
#lyricsPageSongNameContainer {
    max-width: 15rem;
    height: 24pt;

    margin-left: 3px;

    white-space: nowrap;
    overflow: hidden;
}
#songName {
    display: inline-block;
    height: 24pt;
}
#songName.autoScroll {
    animation: longTextScroll 6s linear infinite;
    animation-play-state: paused;
}
#lyricsPageSongNameContainer:hover #songName.autoScroll,
#lyricsPageSongNameContainer:focus #songName.autoScroll,
#songName.autoScroll:focus {
    animation-play-state: running;
}
@keyframes longTextScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 20rem));
    }
}
#songAuthors {
    width: 13rem;
    height: 16pt;

    margin-left: 3px;

    overflow: hidden;
}

#playerInfo {
    justify-content: space-evenly;
    align-items: center;
}
#playerInfo > * {
    margin: 0 4px;
}

/* 音量调整 */
#toggleMute {
    appearance: none;

    width: 2rem;
    height: 2rem;

    background: transparent;
    border: none;
    border-radius: 1rem;

    margin-right: 4px;

    transition: all 200ms ease-in-out;
}
#toggleMute > img {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;

    left: -2px;
    top: 2px;
}
#toggleMute::before {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    position: relative;
    left: 50%;
    top: 50%;
    
    box-shadow: 0 0 12px 4px var(--default-white);

    z-index: -1;
}
#toggleMute:hover {
    background: var(--transparent-grey);
}

#lyricsPageVolumeFilled {
    width: 6rem;
    height: 2rem;

    background: transparent;
}
#lyricsPageVolumeFilled > #lyricsPageVolumeBar {
    position: relative;
    height: 8px;
    top: calc(50% - 3px);

    background: var(--transparent-lightgrey);
    border: none;
    border-radius: 4px;
}
#lyricsPageVolumeFilled #lyricsPageVolumeFilled {
    width: 50%;
    height: 8px;

    background: var(--transparent-white);
    border: none;
    border-radius: 4px;

    transition: background 200ms ease-in-out;
}
#lyricsPageVolumeFilled:hover #lyricsPageVolumeFilled {
    background: var(--default-white);
}

/* 播放器控制 */
#playerControl {
    width: 100%;
    height: 40%;
    margin: 8px 0;

    align-items: center
}

/* 进度条 */
#progressContainer {
    width: 22rem;
    height: 2rem;

    justify-content: center;
    align-items: center;
}
#progressContainer > * {
    margin: 0 3px;
}
#progressBar {
    width: 14rem;

    background: var(--transparent-lightgrey);
    box-shadow: 0 0 5px var(--transparent-grey);

    display: block;

    transition: all 200ms ease-in-out;
}
#progressDone {
    height: 100%;

    background: var(--default-white);
    box-shadow: 0 0 5px var(--transparent-white);

    display: block;
}

#controlBar {
    align-items: center;
}
#controlBar > button {
    margin: 0 8px;
}

/* 歌词 */
#lyricsContent {
    min-width: 30rem;
    width: 55%;
    height: 100%;

    justify-content: left;
    margin-left: 5%;

    overflow-x: hidden;
    overflow-y: auto;
}
#lyricsContent::-webkit-scrollbar {
    display: none;
}

.lyricsBox {
    max-width: 100%;

    padding: 1rem 0;
    padding-right: 0.8rem;

    background: transparent;
    border: none;
    border-radius: 15px;

    transition: all 300ms ease-in-out;
}
.lyricsBox:hover {
    background: var(--transparent-grey);
}
.lyricsBox > ul {
    color: var(--transparent-grey);

    text-shadow: 0 0 2px var(--transparent-grey);

    transition: all 300ms ease-in-out;
}
.lyricsBox.focused > ul {
    color: var(--default-white);

    text-shadow: 0 0 3px var(--default-white);
}
.lyricsBox > ul {
    margin: 0;
}
