#singlePage {
    width: 100%;

    padding: 1rem 2rem;

    align-items: center;
}

#singleInfo {
    width: 100%;

    padding: 2rem;

    align-items: flex-end;
}

#songDetails {
    align-items: flex-start;
}
#songDetails > label {
    margin: 2px 0;
}

#singleCover {
    width: 15rem;
    height: 15rem;

    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--transparent-grey);

    margin-right: 12px;
}

#content {
    width: 100%;

    padding-left: 2rem;
}
