#artistPage {
    width: 100%;

    padding: 1rem 2rem;

    align-items: center;
}

#artistInfo {
    width: 100%;

    padding: 2rem;

    align-items: flex-end;
}

#artistDetails {
    align-items: flex-start;
}
#artistDetails > label {
    margin: 2px 0;
}

#artistAvatar {
    width: 15rem;
    height: 15rem;

    border: none;
    border-radius: 7.5rem;
    box-shadow: 0 0 5px var(--transparent-grey);

    margin-right: 12px;
}

#artistCreations {
    width: 100%;

    align-items: center;
}
#artistCreations > div {
    width: 100%;

    align-items: center;
}

.partTitle {
    width: 100%;

    padding: 0 1rem;
    margin-bottom: 6px;
}
