#artistPage {
    width: 100%;

    padding: 1rem 2rem;

    align-items: center;
}

#artistInfo {
    width: 100%;

    padding: 2rem;

    align-items: flex-end;
}

#artistDetails {
    align-items: flex-start;
}
#artistDetails > label {
    margin: 2px 0;
}

#artistDescription {
    max-height: 8rem;

    overflow-x: hidden;
    overflow-y: auto;
}

#artistAvatar {
    width: 15rem;
    height: 15rem;

    border: none;
    border-radius: 7.5rem;
    box-shadow: 0 0 5px var(--transparent-grey);

    margin-right: 12px;
}

#artistCreations {
    width: 100%;

    align-items: center;
}
#artistCreations > div {
    width: 100%;

    align-items: center;
}

.partTitle {
    width: 100%;

    padding: 0 1rem;
    margin-bottom: 6px;
}

.artistWorksBox {
    overflow-x: auto;
    overflow-y: hidden;
}

#hotAlbums {
    width: 100%;
}

#hotSongs {
    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
}

#bottomBanner {
    width: 100%;
    height: 2rem;
    display: block;
}
