#musicLibrary {
    height: 100%;

    align-items: center;

    padding: 0 2rem;
}
#musicLibrary > div {
    margin: 1rem 0;
}

#userInfo {
    position: relative;
    width: 100%;

    align-items: center;
    margin-top: 1rem;
}
#avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    margin: 0 1rem;
}

#userFavouritesBackground {
    /* background-image: url('/images/library/favouritesBackground_red.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#userFavouritesPreview {
    width: calc(15rem + 6px);
    height: calc(14rem + 8px);

    overflow-x: hidden;
    overflow-y: auto;
}
#userFavouritesPreview::-webkit-scrollbar {
    display: none;
}

#recommendContainer {
    width: 100%;
    height: calc(8rem + 6px);

    overflow-x: hidden;
    overflow-y: auto;
}
#recommendContainer::-webkit-scrollbar {
    display: none;
}
.interactiveTitle {
    cursor: pointer;

    transition: all 200ms ease-in-out;
}
.interactiveTitle::after {
    content: '>>>';
    position: relative;
    top: 4px;
    width: 0;

    text-decoration: none;
    overflow: hidden;

    display: inline-block;

    transition: all 200ms ease-in-out;
}
.interactiveTitle:hover {
    text-decoration: underline;
}
.interactiveTitle:hover::after {
    width: 30pt;
}

#musicSource {
    width: 7rem;
    height: calc(2rem + 8px);

    background: transparent;
    border: none;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 200ms ease-in-out;
}
#musicSource:hover {
    background: var(--color-blue-light);
}

#userLists {
    width: 100%;

    padding-bottom: 18rem;
}
#playlistSourceTabs {
    width: 100%;
    
    align-items: flex-start;

    padding: 0 1rem;
}

.musicBox.userLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
