#songlistPage {
    width: 100%;

    padding: 1rem 2rem;

    align-items: center;
}

#songlistInfo {
    width: 100%;

    padding: 2rem;

    align-items: flex-end;
}

#songlistDetails {
    align-items: flex-start;
}
#songlistDetails > label {
    margin: 2px 0;
}

#songlistCover {
    width: 15rem;
    height: 15rem;

    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--transparent-grey);

    margin-right: 12px;
}

#listDescription {
    height: 45pt;
    overflow-y: auto;
}

.listButton {
    appearance: none;

    width: 6rem;
    height: 2.5rem;

    background: var(--default-lightgrey);
    border: none;
    border-radius: 8px;

    justify-content: center;
    align-items: center;

    transform: scale(1.0);
    transition: all 200ms ease-in-out;
}
.listButton:hover {
    background: var(--color-blue-light);
    transform: scale(1.1);
}
.listButton > img {
    width: 1.8rem;
    height: 1.8rem;

    margin-right: 5px;
}
.listButton > label {
    color: var(--default-black);
    transition: all 200ms ease-in-out;
}
.listButton:hover > label {
    color: var(--color-blue-deep);
}

#songlistContent {
    width: 100%;

    padding-left: 2rem;
}

#bottomBanner {
    display: block;
    height: 2rem;
}
