#app {
    background: transparent;
}

#desktopLyrics {
    width: 100%;
    height: 100%;

    background: var(--transparent-grey);
    border: none;
    border-radius: 15px;

    align-items: center;
}

/* 窗口标题栏 */
#captionsControlBar {
    position: relative;
    width: 100%;
    height: 2rem;
    top: 0;

    background: transparent;
    border-radius: 12px 12px 0 0;
}

#windowDragCaptions {
    position: relative;
    height: 2rem;

    background: transparent;
    border: none;
    border-radius: 12px;

    -webkit-app-region: drag;
    flex: 1 0;
}

#captionsBarController {
    width: 100%;
    height: 2rem;

    align-items: center;
    justify-content: center;
}
#captionsBarController > button {
    margin: 0 4px;
}

.verticleSplitLine {
    width: 2px;
    height: 100%;

    background: var(--transparent-darkgrey);
    border: none;
    border-radius: 1px;

    margin: 0 6px;
    padding: 2px 0;

    display: block;
}

.playControl:hover {
    background: var(--transparent-darkgrey);
}

#captionsMain {
    width: 100%;
    height: calc(100% - 4rem);

    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

    overflow: hidden;
}

#currentLyricsBox {
    background: transparent;
    border: none;
    border-radius: 15px;

    transition: all 300ms ease-in-out;

    align-items: center;
    justify-content: center;
}
#currentLyricsBox > ul {
    color: var(--default-white);
    text-shadow:
        0 0 3px var(--transparent-grey),
        1px 1px 3px var(--transparent-darkgrey),
        -1px -1px 2px var(--default-darkgrey);

    margin: 4px 0;
    padding: 0;

    overflow: hidden;
}
#currentLyricsBox > ul.large {
    height: 30pt;
}
#currentLyricsBox > ul.medium {
    height: 24pt;
}
#currentLyricsBox > ul {
    margin: 0;
}
