#musicHome {
    height: 100%;

    align-items: center;

    padding: 0 2rem;
    padding-top: 1rem;
}

#dailyRecommends {
    cursor: pointer;
}
#musicRadio {
    cursor: default;
}

.text.sectionTitle {
    width: calc(100% - 2rem);
    margin: 1rem 0;
}

.titleWithMore {
    width: calc(100% - 2rem);
    margin: 1rem 0;

    justify-content: space-between;
    align-items: center;
}

.viewMore {
    cursor: pointer;

    width: 8rem;

    padding-left: 6px;

    transition: all 200ms ease-out;
}
.viewMore::after {
    content: ">";

    top: -1px;

    margin-left: 6px;

    display: inline-block;

    transition: all 200ms ease-out;
}
.viewMore:hover {
    padding: 0;
}
.viewMore:hover::after {
    margin-left: 18px;
}

.horizontalScroll {
    width: calc(100% - 2rem);
    
    align-items: center;
}
.scrollerButton {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    
    background: var(--transparent-lightgrey);
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 0 3px var(--default-lightgrey);

    transition: all 200ms ease-in-out;
}
.scrollerButton:hover {
    background: var(--transparent-grey);
    box-shadow: 0 0 3px var(--default-grey);
}
.scrollerButton > img {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: -1px;
    right: 0.35rem;
}

/* 每日推荐背景动画 */
#dailyRecommends {
    background-size: cover !important;
    background-position: center 33% !important;

    box-shadow: inset 0 0 5rem var(--transparent-darkgrey);

    margin: 0 2rem;
    padding: 0 6px;

    overflow: hidden;
}

#recommendTitle {
    width: 62pt;

    font-size: 28pt;
}
#dailyRecommends_play {
    position: relative;
    bottom: 3rem;
    left: 17rem;
}

#musicRadio {
    background: var(--gradient-background2);

    margin: 0 2rem;
}
#radioTitle {
    width: 60pt;
    margin-left: 6px;
    
    font-size: 25pt;
}

.nowrapBox {
    width: 100%;

    flex-wrap: nowrap;
    overflow: hidden;
}

#songlistRecommends {
    display: flex;
}

#singleRecommends {
    display: flex;
    flex-wrap: wrap;

    padding-left: 2rem;
}
#singleRecommends > .songContainer {
    margin: 3px 1rem;
}

#artistRecommends {
    height: 12rem;
}

#newSingles {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding-left: 3rem;
}

#pageFooter {
    width: 100%;

    margin: 2rem 0;

    align-items: center;
    justify-content: center;
}
#footerText {
    margin: 1rem 0;
}
