#musicSearch {
    height: 100%;

    align-items: center;

    padding: 0 2rem;
}
#musicSearch > div {
    margin-top: 1rem;
}

/* 搜索框 */
#searchBarContainer {
    width: 100%;
    height: 3rem;

    background: var(--interface-transparent-grey);
    border: none;
    border-radius: 1.5rem;
    backdrop-filter: blur(4px);

    padding-left: 1rem;
    padding-right: 3px;

    justify-content: center;
    align-items: center;

    transition: all 200ms ease-in-out;
}
#searchBar {
    width: calc(100% - 8rem);
    height: 3rem;

    background: transparent;
    border: none;
    color: var(--interface-foreground);

    font-size: 15pt;

    outline: none;

    flex: 1 0;
}
#searchBar::-webkit-input-placeholder {
    color: var(--interface-foreground);
}
#searchClear {
    opacity: 0;

    transition: all 200ms ease-in-out;
}
#searchBar:focus + #searchClear {
    opacity: 1;
}
#searchBarContainer:has(#searchBar:focus) {
    background: var(--theme-color-light);
}
#searchBarContainer > button {
    width: calc(3rem - 6px);
    height: calc(3rem - 6px);

    background: transparent;
    border: none;
    border-radius: calc(1.5rem - 3px);

    transition: all 200ms ease-in-out;
}
#searchBarContainer > button:hover {
    background: var(--transparent-lightgrey);
}
#searchBarContainer > button > img {
    width: 2rem;
    height: 2rem;
}

#searchSourceContainer {
    width: 100%;

    align-items: center;
}

#searchPlatform > .tabSwitcher {
    justify-content: center;
}

[id^="searchType_"] > .tabSwitcher {
    justify-content: center;
}

.musicBox {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listButton {
    appearance: none;

    width: 6rem;
    height: 2.5rem;

    background: var(--interface-transparent-grey);
    border: none;
    border-radius: 8px;

    justify-content: center;
    align-items: center;

    transform: scale(1.0);
    transition: all 200ms ease-in-out;
}
.listButton:hover {
    background: var(--theme-color-light);
    transform: scale(1.1);
}
.listButton > label {
    color: var(--interface-foreground);
    transition: all 200ms ease-in-out;
}
.listButton:hover > label {
    color: var(--theme-color-deep);
}

#loadMoreButton {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
