/* 全局样式 */
* {
    box-sizing: border-box;
    user-select: none;

    /* 黑色 / 白色 */
    --default-black: rgb(36, 36, 36);
    --default-white: rgb(245, 245, 245);
    
    /* 灰色 */
    --default-darkgrey: rgb(114, 114, 114);
    --default-grey: rgb(128, 128, 128);
    --default-lightgrey: rgb(225, 225, 225);

    /* 透明黑色 / 白色 */
    --transparent-black: rgba(36, 36, 36, 0.7);
    --transparent-white: rgba(245, 245, 245, 0.6);

    /* 透明灰色 */
    --transparent-darkgrey: rgba(114, 114, 114, 0.4);
    --transparent-grey: rgba(168, 168, 168, 0.4);
    --transparent-lightgrey: rgba(200, 200, 200, 0.4);

    /* 背景色 */
    --background-light: rgb(245, 245, 245);
    --background-dark: rgb(54, 54, 54);

    /* 次要灰色背景色 */
    --background-grey-light: rgb(215, 215, 215);
    --background-grey-dark: rgb(110, 110, 110);

    /* 高对比度背景色 */
    --backgruond-ultralight: rgb(252, 252, 252);
    --background-ultradark: rgb(20, 20, 20);

    /* 文本颜色 */
    --text-black: rgb(36, 36, 36);
    --text-white: rgb(245, 245, 245);

    /* 主题颜色 */
    --color-red-default: rgb(232, 66, 66);
    --color-red-light: rgb(255, 171, 171);
    --color-red-deep: rgb(202, 25, 25);
    --color-red-ultradeep: rgb(85, 16, 16);
    --color-red-transparent: rgba(253, 109, 109, 0.6);

    --color-orange-default: rgb(235, 118, 46);
    --color-orange-light: rgb(255, 187, 144);
    --color-orange-deep: rgb(191, 84, 17);
    --color-orange-ultradeep: rgb(84, 45, 21);
    --color-orange-transparent: rgba(253, 142, 72, 0.6);

    --color-yellow-default: rgb(255, 245, 63);
    --color-yellow-light: rgb(255, 251, 172);
    --color-yellow-deep: rgb(211, 200, 0);
    --color-yellow-ultradeep: rgb(66, 63, 7);
    --color-yellow-transparent: rgba(255, 243, 23, 0.6);

    --color-green-default: rgb(50, 224, 104);
    --color-green-light: rgb(152, 242, 181);
    --color-green-deep: rgb(27, 141, 36);
    --color-green-ultradeep: rgb(4, 60, 22);
    --color-green-transparent: rgba(36, 248, 103, 0.6);

    --color-blue-default: rgb(19, 120, 236);
    --color-blue-light: rgb(190, 214, 243);
    --color-blue-deep: rgb(36, 92, 234);
    --color-blue-ultradeep: rgb(3, 40, 82);
    --color-blue-transparent: rgba(79, 161, 255, 0.6);

    --color-purple-default: rgb(156, 76, 235);
    --color-purple-light: rgb(216, 176, 255);
    --color-purple-deep: rgb(84, 22, 146);
    --color-purple-ultradeep: rgb(32, 5, 59);
    --color-purple-transparent: rgba(173, 65, 255, 0.6);

    /* 警告色 */
    --color-warning: rgb(230, 208, 18);

    /* 通知主题色 */
    --notify-info: rgba(167, 167, 167, 0.6);
    --notify-success: rgba(51, 252, 118, 0.6);
    --notify-warning: rgba(230, 208, 18, 0.6);
    --notify-critical: rgba(232, 66, 66, 0.6);

    /* 默认渐变 */
    --gradient-background1: linear-gradient(120deg, var(--color-blue-default), var(--color-purple-default));
    --gradient-background2: linear-gradient(120deg, var(--color-green-default), var(--color-green-light));

    /* Apple Music 歌词半透明色 */
    --applemusic-lyrics-color: rgba(245, 245, 245, 0.6);
}
/* 预设默认样式 */
* {
    --interface-foreground: var(--text-black);                      /* 前景色 */
    --interface-background: var(--background-light);                /* 背景色 */
    --interface-foreground-grey: var(--default-grey);               /* 灰色前景色 */
    --interface-background-grey: var(--background-grey-light);      /* 灰色背景色 */
    --interface-transparent: var(--transparent-white);              /* 透明覆盖色 */
    --interface-transparent-grey: var(--transparent-lightgrey);     /* 透明灰色覆盖色 */
    --interface-contrast-background: var(--backgruond-ultralight);  /* 高对比度背景色 */

    --theme-color-default: var(--color-blue-default);               /* 默认主题色 */
    --theme-background: var(--color-blue-light);                    /* 主题背景色 */
    --theme-color-light: var(--color-blue-light);                   /* 浅主题色 */
    --theme-color-deep: var(--color-blue-deep);                     /* 深主题色 */
    --theme-color-ultradeep: var(--color-blue-ultradeep);           /* 低亮度主题色 */
    --theme-color-transparent: var(--color-blue-transparent);       /* 透明主题色 */

    --outline-darkmode-invert-filter: invert(0);                    /* 线框图深色模式反转滤镜 */
}

/* 元素样式 */
body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

button {
    outline: none;
    -webkit-app-region: nodrag;
}
/* 去除链接默认下划线 */
a {
    text-decoration: none;
}
/* 部分线框图片根据深色模式反转颜色 */
img.outlineImage {
    filter: var(--outline-darkmode-invert-filter);
}

/* 滚动条 */
::-webkit-scrollbar {
    background: transparent;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track-piece {
    background: rgba(160, 163, 168, 0.3);
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 158, 181, 0.6);
    border-radius: 0.25rem;
}

/* 文本 */
.text {
    color: var(--interface-foreground);
    font-family: 'Consolas', 'Microsoft YaHei UI', sans-serif;
}
/* 粗体 */
.text.bold {
    font-weight: bold;
}
/* 细体 */
.text.light {
    font-weight: 200;
}
/* 大小 */
.text.xxlarge {
    font-size: 35pt;
}
.text.extraLarge {
    font-size: 30pt;
}
.text.large {
    font-size: 24pt;
}
.text.medium {
    font-size: 18pt;
}
.text.small {
    font-size: 14pt;
}
.text.ultraSmall {
    font-size: 12pt;
}
/* 灰色 */
.text.grey {
    color: var(--default-grey);
}
/* 白色 */
.text.white {
    color: var(--default-white);
}
/* 发光 */
.text.glow {
    text-shadow: 0 0 2px var(--default-white);
}

/* flex */
.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}

.textInput {
    appearance: none;

    background: var(--interface-background);
    border: none;
    border-radius: 6px;

    transition: background 300ms ease-in-out;
}


#app {
    width: 100%;
    height: 100vh;

    background: transparent;
}

#windowMain {
    height: 100%;

    background: var(--interface-background);

    transition: all 300ms ease-in-out;
}

/* 窗口标题栏 */
#windowControlBar {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    top: 0;

    background: transparent;
    /* border-radius: 1rem 1rem 0 0; */

    transition: all 300ms ease-in-out;
}

#windowDrag {
    position: relative;
    height: 2.5rem;
    float: left;

    align-items: center;
    padding-left: 0.5rem;

    -webkit-app-region: drag;
    flex: 1 0;
}

#appIcon {
    width: 2rem;
    height: 2rem;

    margin-right: 0.5rem;
}

#windowOptions {
    position: relative;
    height: 2.5rem;

    float: right;

    -webkit-app-region: no-drag;
}

.windowControl {
    position: relative;
    width: 3rem;
    height: calc(100% - 4px);

    background: transparent;
    border: none;
    border-radius: 6px;

    margin-top: 2px;
    margin-right: 2px;

    transition: all 200ms ease-in-out;
}
.windowControl.default:hover {
    background: var(--transparent-grey);
}
.windowControl.close:hover {
    background: var(--color-red-default);
}
.windowControl > img {
    position: relative;
    top: 0.1rem;
    
    width: 1rem;
    height: 1rem;
}

/* 主界面 */
#appMain {
    position: relative;
    width: 100%;
    height: calc(100vh - 2.5rem);
    top: 2.5rem;

    background: transparent;
}

/* 页面切换 */
#pageSelector {
    position: fixed;

    width: 4rem;
    height: calc(100vh - 14rem);

    justify-content: center;

    z-index: 50;
}

/* 顶部工具栏 */
#windowTop {
    position: relative;
    width: 100%;
    height: 3rem;

    padding: 0 5rem;

    align-items: center;
}

/* 前进 / 后退按钮 */
.pageControl {
    appearance: none;

    width: 3rem;
    height: 3rem;

    background: transparent;
    border: none;
    border-radius: 1.5rem;

    margin: 0 3px;

    transition: all 200ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pageControl > img {
    width: 3rem;
    height: 3rem;
}
#pageBack > img {
    left: -3px;
}
.pageControl:hover {
    background: var(--transparent-grey);
}

#windowTabs {
    position: relative;
    height: 2rem;

    justify-content: center;
    align-items: center;
    flex: 1 0;
}

/* 页面内容 */
#pageContainer {
    position: relative;
    width: calc(100% - 4rem);
    height: calc(100vh - 5rem);
    left: 4rem;

    overflow-x: hidden;
    overflow-y: auto;
}

/* 标签页组件 */
.tabsContainer {
    width: 100%;
}
.tabSwitcher {
    margin: 3px 0;
}
.tabItem {
    position: relative;
    width: 9rem;
    height: 3rem;

    background: transparent;
    color: var(--interface-foreground);
    font-weight: bold;

    border: none;
    border-radius: 8px;

    margin: 0 0.5rem;

    justify-content: center;
    align-items: center;

    transition: all 200ms ease-in-out;
}
.tabItem.smallTab {
    width: 6rem;
    height: 2rem;
}
.tabItem.current {
    background: var(--theme-color-light);
}
.tabItem:hover {
    background: var(--transparent-grey);
}
.tabItem > img {
    width: 2rem;
    height: 2rem;

    margin-right: 6px;
}
.tabItem.current > label {
    color: var(--theme-color-deep);
}
/* 标签页切换动画 */
.switchAnimation-enter-active, 
.switchAnimation-leave-active {
    transition: all 200ms ease-in-out;
}
.switchAnimation-enter-from {
    opacity: 0;
    transform: translateX(20px);
}
.switchAnimation-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}

.pageButton {
    width: 3rem;
    height: 4.5rem;

    background: transparent;
    border: none;
    border-radius: 1.5rem;

    margin: 3px 0.5rem;

    overflow: hidden;
    transition: 
        all 200ms ease-in-out,
        justify-content 0ms ease-in-out 200ms;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageButton:hover {
    background: var(--transparent-grey);
}
.pageButton.current {
    background: var(--theme-color-default);
}
.pageButton > img {
    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 1.5rem;
}
.pageButton > label {
    font-size: 8pt;
}

#topBarSpace {
    flex: 1 0;
}

#settings,
#accounts {
    appearance: none;
    position: relative;
    width: 3rem;
    height: 3rem;

    background: transparent;
    border: none;
    border-radius: 1.5rem;

    transition: all 200ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
#settings:hover,
#accounts:hover {
    background: var(--transparent-grey);
}
#settings.current,
#accounts.current {
    background: var(--theme-color-default);
}
#settings > img {
    width: 3rem;
    height: 3rem;
}

/* 歌单卡片 */
.songlistContainer.medium {
    width: 10rem;
    height: 13rem;

    margin: 0 3px;
    padding: 0 3px;
    padding-top: 3px;

    border: none;
    border-radius: 12px;

    align-items: center;

    transition: all 200ms ease-in-out;
}
.songlistContainer:hover {
    background: var(--transparent-lightgrey);
}
.songlistCard {
    background: transparent;
    border: none;
    border-radius: 12px;

    align-items: center;

    transition: all 200ms ease-in-out;
}
.songlistCard.exlarge {
    width: 40rem;
    height: 15rem;
}
.songlistCard.large {
    width: 16rem;
    height: 15rem;
}
.songlistCard.midlarge {
    width: 20rem;
    height: 8rem;

    cursor: pointer;
}
.songlistCard.medium {
    cursor: pointer;
}

.songlistCard.midlarge > img {
    width: calc(8rem - 12px);
    height: calc(8rem - 12px);

    border-radius: 8px;
}
.songlistCard.medium img {
    width: calc(10rem - 12px);
    height: calc(10rem - 12px);

    border-radius: 8px;
}

/* 歌单标题区域 */
.cardHeader {
    border: none;
    border-radius: 10px;

    margin-right: calc(1rem - 6px);
}
.songlistCard.exlarge > .cardHeader {
    width: calc(24rem - 12px);
    height: 100%;

    background: var(--interface-background);
    box-shadow: 0 4px 4px 2px var(--transparent-grey);

    padding: 0 6px;
    padding-bottom: 6px;
}
.songlistCard.large > .cardHeader {
    width: 100%;
    height: auto;
    
    padding-left: 6px;
    margin-bottom: 4px;

    background: transparent;
}
.songlistCard.midlarge > .cardHeader {
    width: calc(12rem - 6px);
    height: 100%;

    padding-left: 6px;
    padding-top: 6px;

    justify-content: space-between;
}

.songlistCard.exlarge .cardInfo {
    color:var(--theme-color-deep);

    margin-left: 6px;
    margin-bottom: 6px;

    align-items: flex-start;
    justify-content: flex-end;
    flex: 1 0;
}

/* 歌单末尾信息 */
.cardFooter {
    position: relative;
    width: 100%;

    background: transparent;
    border: none;
    border-radius: 10px;

    padding: 0 6px;
}
.songlistCard.large .cardFooter {
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}
.songlistCard.medium label {
    width: 9rem;
    height: 34pt;

    overflow: hidden;

    justify-content: flex-start;
}

/* 歌单播放按钮 */
.songlistPlay {
    position: relative;

    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 4px 4px var(--transparent-grey);

    margin: 6px;

    transition: all 150ms ease-in-out;
}

.songlistCard.exlarge .songlistPlay {
    width: 3rem;
    height: 3rem;
    top: calc(100% - 3rem - 12px);

    background: var(--theme-color-deep);
    border-radius: 1.5rem;
}
.songlistCard.exlarge .songlistPlay:hover {
    transform: scale(1.1);
}

.songlistCard.large .songlistPlay {
    width: 3rem;
    height: 3rem;
    top: calc(100% - 3rem);

    background: var(--theme-color-deep);
    border-radius: 1.5rem;
}
.songlistCard.large .songlistPlay:hover {
    transform: scale(1.1);
}

.songlistCard.midlarge .songlistPlay {
    width: 2rem;
    height: 2rem;

    background: transparent;
    border-radius: 1rem;

    box-shadow: none;
}
.songlistCard.midlarge .songlistPlay:hover {
    background: var(--transparent-grey);
}

/* 歌单来源示意 */
.songlistCard.medium .songlistPlatform {
    position: relative;
    width: 2rem;
    height: 2rem;
    left: calc(7rem - 12px);
    top: calc(-6rem + 6px);

    background: transparent;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 4px 4px var(--transparent-grey);

    margin: 6px;

    transition: all 150ms ease-in-out;

    border-radius: 1rem;
}

.songlistPlay > img {
    position: relative;

    left: 1px;
    top: 1px;
}
.songlistCard.exlarge .songlistPlay > img {
    width: 1.5rem;
    height: 1.5rem;
}
.songlistCard.large .songlistPlay > img {
    width: 1.5rem;
    height: 1.5rem;
}
.songlistCard.midlarge .songlistPlay > img {
    width: 1.5rem;
    height: 1.5rem;
    left: -1px;
}
.songlistCard.medium .songlistPlatform > img {
    width: 2rem;
    height: 2rem;
}

/* 歌单来源 */
.musicSource {
    align-items: center;
}
.playlistSource {
    position: relative;
    width: 2rem;
    height: 2rem;
    top: 2px;

    background: transparent;
    border: none;
    border-radius: 1rem;
}


/* 歌曲卡片 */
.songCard {
    position: relative;
    width: 15rem;
    height: 3.5rem;

    background: transparent;
    border: none;
    border-radius: 10px;

    align-items: center;

    padding: 6px;
    margin: 1px 0;

    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.songlistCard.exlarge .songCard {
    left: 6px;
}
.songCard:hover {
    background: var(--transparent-lightgrey);
}
.songCard .songCover {
    width: 2.5rem;
    height: 2.5rem;
    
    border: none;
    border-radius: 8px;

    margin-right: 6px;

    cursor: pointer;
}
.songCard > .songInfo {
    align-items: flex-start;
}
.songCard > .songInfo > label {
    width: 10rem;
    height: 16pt;
    overflow: hidden;
}

.songPlay {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;

    background: transparent;
    border: none;
    border-radius: 0.75rem;

    transition: all 100ms ease-in-out;

    margin-left: auto;
    margin-right: 3px;

    display: none;
}
.songCard:hover .songPlay {
    display: block;
}
.songPlay:hover {
    background: var(--transparent-grey);
}
.songPlay > img {
    position: relative;
    width: 1rem;
    height: 1rem;
    left: -1px;
    top: 1px;
}
.songLine > .songPlay {
    display: block;
}
.songLine > .songPlay > img {
    top: 1px;
    left: -1px;
}

/* 整行歌曲卡片 */
.songLine {
    width: calc(100% - 2rem);
    height: 3rem;

    background: transparent;
    border: none;
    border-radius: 8px;

    align-items: center;

    margin: 3px 0;
    padding: 6px;

    transition: all 200ms ease-in-out;
}
.songLine:hover {
    background: var(--theme-color-light);
}
.songLine > .songCover {
    width: calc(3rem - 12px);
    height: calc(3rem - 12px);

    border: none;
    border-radius: 6px;

    margin: 0 3px;
}
.songLine > .songInfo {
    flex: 1 0;
}

/* 歌手卡片 */
.artistContainer {
    position: relative;
    width: 10rem;
    height: 11rem;

    margin: 0 1rem;
}
.artistCard {
    position: relative;

    background: transparent;
    border: none;

    align-items: center;

    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.artistCard > img {
    width: 10rem;
    height: 10rem;

    border: none;
    border-radius: 5rem;
}
.artistCard > label {
    margin: 3px 0;
}
.artistCard:hover > label {
    text-decoration: underline;
}

/* 单行歌手卡片 */
.artistLine {
    position: relative;
    width: 100%;
    height: 4rem;

    background: transparent;
    border: none;
    border-radius: 8px;

    margin-top: 4px;
    padding: 0 6px;

    align-items: center;

    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.artistLine > img {
    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 1.5rem;

    margin-right: 6px;
}
.artistLine:hover {
    background: var(--theme-color-light);
}

/* 播放列表区域 */
.musicContainer {
    width: 100%;
    height: auto;

    background: transparent;
    border: none;
    align-items: flex-start;

    margin-top: 1rem;
}
.musicContainer#userPlaylists {
    min-height: calc(100vh - 13rem);
}

.musicBox {
    position: relative;
    width: 100%;

    flex-wrap: wrap;
    gap: 1.5rem;

    display: flex;
}
/* 类型选择器 */
.musicBox.types {
    align-items: center;
    justify-content: center;
}
.musicBox.types.current {
    display: flex;
}

/* 播放控制 */
#playControlContainer {
    position: fixed;
    width: calc(100% - 5.6rem);
    height: calc(4rem + 3px);
    bottom: 6px;
    left: 4.3rem;

    background: var(--interface-transparent);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 6px var(--transparent-grey);

    z-index: 100;
}

/* 播放进度条 */
/* 进度条动画 */
@keyframes progressBarHover {
    0% {
        height: 6px;
        border-radius: 3px;
    }
    20% { 
        height: 4px;
        border-radius: 2px;
    }
    80% {
        height: 16px;
        border-radius: 8px;
    }
    100% {
        height: 12px;
        border-radius: 6px;
    }
}
.fluentProgress {
    height: 6px;

    background: var(--interface-background-grey);
    border: none;
    border-radius: 3px;

    transition: all 300ms cubic-bezier(0.1, -0.25, 0.6, 1.5);
}
#playProgress {
    position: absolute;
    width: calc(100% - 6px);
    bottom: 4rem;
    left: 3px;
}
.fluentProgress:hover {
    height: 12px;

    border-radius: 6px;
}
.fluentFilled {
    width: 50%;

    background: var(--theme-color-deep);
    border-radius: 3px;

    transition: border-radius 300ms ease;
}
.fluentProgress:hover .fluentFilled {
    border-radius: 6px;
}

/* 播放进度标签 */
#progressTooltip {
    position: absolute;

    width: 8rem;
    height: 2rem;
    top: calc(100% - 7.5rem);

    background: var(--interface-transparent);
    backdrop-filter: blur(4px);
    border-style: solid;
    border-color: var(--interface-background-grey);
    border-width: 2px;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    z-index: 110;

    transform: translateY(100%) scale(0.0);
    transition: transform 200ms ease-in-out;
}
#progressTooltip.show {
    transform: translateY(0%) scale(1.0);
}

#playControlBar {
    align-items: center;
    justify-content: space-between;

    background: transparent;

    padding: 0 2rem;

    flex: 1 0;
}

#currentSong {
    align-items: center;
}
.currentSongCover {
    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 6px;

    margin-right: 6px;
}
#songNameContainer {
    width: 15rem;
    height: 16pt;

    white-space: nowrap;
    
    overflow: hidden;
}
#currentSongName {
    display: inline-block;
}
#currentSongName.autoScroll {
    animation: longTextScroll 6s linear infinite;
    animation-play-state: paused;
}
#songNameContainer:hover #currentSongName.autoScroll,
#songNameContainer:focus #currentSongName.autoScroll,
#currentSongName.autoScroll:focus {
    animation-play-state: running;
}
@keyframes longTextScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 15rem));
    }
}
#currentSongAuthors {
    width: 18rem;
    height: 14pt;

    overflow: hidden;
}

#playControl {
    position: absolute;
    left: calc(50% - 6rem);

    align-items: center;
}

.playControl {
    appearance: none;

    width: 2.5rem;
    height: 2.5rem;

    background: transparent;
    border: none;
    border-radius: 12px;

    transition: all 200ms ease-in-out;
}
.playControl > img {
    margin-top: 4px;
}
.playControl:hover {
    background: var(--transparent-grey);
}
.playControl.large {
    width: 3rem;
    height: 3rem;
}
.playControl.small {
    width: 2rem;
    height: 2rem;

    border-radius: 8px;
}
.playControl.glow::before {
    content: '';
    position: relative;
    display: inline-block;
    left: 50%;
    top: -40%;
    
    box-shadow: 0 0 18px 8px var(--default-white);

    z-index: -1;
}
.playControl.large.glow::before {
    box-shadow: 0 0 22px 10px var(--default-white);
}
.playControl.small.glow::before {
    box-shadow: 0 0 12px 4px var(--default-white);
}
.playControl.active {
    background: var(--theme-color-transparent);
}
.playControl.active:hover {
    background: var(--theme-color-transparent);
}

/* 静音按钮 */
#volumeLevel {
    border-radius: 8px;

    margin-right: 3px;
}

#controlRightBar > * {
    margin: 0 3px;
}

#volumeAdjust {
    width: 8rem;
    height: 2rem;

    background: transparent;
}
#volumeAdjust > #volumeBar {
    position: relative;
    height: 6px;
    top: calc(50% - 3px);

    background: var(--interface-background-grey);
    border: none;
    border-radius: 3px;
}
#volumeAdjust #volumeFilled {
    width: 50%;
    height: 6px;

    background: var(--interface-foreground-grey);
    border: none;
    border-radius: 3px;

    transition: background 200ms ease-in-out;
}
#volumeAdjust:hover #volumeFilled {
    background: var(--theme-color-default);
}
#volumeAdjust > #volumeLabel {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    top: -1.2rem;
    left: calc(100% - 1.5rem);

    background: var(--interface-transparent);
    border-style: solid;
    border-color: var(--interface-background-grey);
    border-width: 2px;
    border-radius: 6px;

    text-align: center;

    opacity: 0;

    transition: opacity 200ms ease-in-out;
}
#volumeAdjust:hover > #volumeLabel {
    opacity: 1;
}

/* 通知 */
.notifyArea {
    position: fixed;
    width: 18rem;
    height: auto;
    top: 5rem;
    left: calc(100% - 18rem);

    background: transparent;
    border: none;

    padding: 0.5rem 1rem;

    align-items: center;

    z-index: 300;
}

.notification {
    width: 16rem;
    height: 4rem;

    background: var(--interface-background);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--transparent-grey);

    margin: 6px 0;
    align-items: center;

    transform: translateX(100%);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    overflow: hidden;
}
.notification.show {
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    transform: translateX(0);
}

.notifyContainer {
    width: 100%;

    align-items: center;
    justify-content: space-around;

    flex: 1 0;
}

.notifyIcon {
    width: 3rem;
    height: 3rem;

    margin: 0 3px;
}
.notifyIcon > img {
    width: 3rem;
    height: 3rem;

    border-radius: 1.5rem;
}
.notifyContent {
    align-items: flex-start;

    margin: 0 3px;
}
.notifyClose {
    width: 1.5rem;
    height: 1.5rem;

    margin: 0 3px;
}

.notifyCountDown {
    width: 100%;
    height: 6px;
}
.countDownBar{
    width: 100%;
    height: 6px;

    border-radius: 3px;
}
.notification.info .countDownBar {
    background: var(--notify-info);
}
.notification.success .countDownBar {
    background: var(--notify-success);
}
.notification.warning .countDownBar {
    background: var(--notify-warning);
}
.notification.critical .countDownBar {
    background: var(--notify-critical);
}

/* 弹窗区域 */
#popupArea {
    position: fixed;
    width: 100%;
    height: calc(100% - 2.5rem);
    top: 2.5rem;
    left: 0;

    background: var(--transparent-darkgrey);
    backdrop-filter: blur(3px);

    align-items: center;
    justify-content: center;

    z-index: 200;

    transition: all 200ms ease-in-out;

    opacity: 0;
    display: none;
}
#popupArea.show {
    display: flex;
    opacity: 1;
}

.popup {
    position: relative;
    min-width: 50%;
    min-height: 50%;

    max-width: 80%;
    max-height: 80%;

    background: var(--interface-background);
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--transparent-grey);

    padding: 1rem 2rem;;

    align-items: center;
    justify-content: space-between;

    transform: scale(0.0);
    transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.popup.show {
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    transform: scale(1.0);
}

.popupTitle {
    width: 100%;
    height: 3rem;

    align-items: center;
}
.popupIcon {
    width: 3rem;
    height: 3rem;

    margin-right: 6px;
}
.popupIcon > img {
    width: 3rem;
    height: 3rem;
}
.popupLabel {
    flex: 1 0;
}
.popupClose {
    appearance: none;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    background: transparent;
    border: none;
    border-radius: 6px;

    transition: all 200ms ease-in-out;
}
.popupClose:hover {
    background: var(--transparent-grey);
}

.popupContent {
    width: 100%;
    height: calc(100% - 6rem);
}

.popupOptions {
    position: relative;
    width: 100%;
    height: 3rem;

    align-items: center;
    justify-content: center;
}

.popupButton {
    appearance: none;
    position: relative;
    width: 7rem;
    height: 3rem;

    background: var(--interface-background);
    border-style: solid;
    border-color: var(--theme-color-default);
    border-width: 3px;
    border-radius: 6px;

    margin: 0 1rem;

    transition: all 200ms ease-in-out;
}
.popupButton:hover {
    background: var(--theme-color-light);
}
/* 按钮高亮 */
.popupButton.red {
    border-color: var(--color-red-default);
}
.popupButton.red:hover {
    background: var(--color-red-light);
}
.popupButton.green {
    border-color: var(--color-green-default);
}
.popupButton.green:hover {
    background: var(--color-green-light);
}
.popupButton.yellow {
    border-color: var(--color-yellow-default);
}
.popupButton.yellow:hover {
    background: var(--color-yellow-light);
}

/* 页脚占位 */
#bottomBlock {
    width: 100%;
    height: 4rem;
}

#lyricsArea {
    position: absolute;
    width: 100%;
    height: calc(100vh + 3rem);
    top: 0;

    transform: translateY(100%);
    transition: transform 500ms ease-in-out;

    z-index: 1000;
}
#lyricsArea.show {
    transform: translateY(0);
}

#arcanummusic-playcontrol {
    position: absolute;
    top: 6rem;

    display: none;
}

/* 右键菜单 */
#rightClickMenuContainer {
    position: absolute;

    background: transparent;
    width: 10rem;
    height: auto;
    top: 0;

    z-index: 150;

    opacity: 0;
    transition: opacity 200ms ease-in-out;

    display: none;
}
#rightClickMenuContainer.show {
    opacity: 1;
}
.rightMenu {
    position: relative;
    width: 100%;
    height: auto;

    background: var(--interface-transparent);
    border-style: solid;
    border-color: var(--default-grey);
    border-width: 1px;
    border-radius: 10px;
    backdrop-filter: blur(12px);

    box-shadow: 2px 2px 6px 0 var(--transparent-darkgrey);

    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menuPart {
    width: 100%;
    
    border-style: solid;
    border-color: var(--interface-background-grey);
    border-width: 0;
    border-bottom-width: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem {
    width: 100%;
    height: 2.5rem;

    background: transparent;
    color: var(--interface-foreground);

    border: none;
    border-radius: 8px;

    padding: 0 4px;
    margin: 2px 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: all 200ms ease-in-out;
}
.menuItem:hover {
    background: var(--theme-color-light);
}
.menuIcon {
    width: 16pt;
    height: 16pt;

    margin: 4px;
}

/* 歌手选择弹窗 */
#artistSelect {
    position: absolute;
    width: 24rem;
    height: auto;
    left: calc(50% - 12rem);
    top: 10rem;

    background: var(--interface-background);
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 6px var(--transparent-darkgrey);

    padding: 3px;

    opacity: 0;
    transition: all 200ms ease-in-out;

    display: none;
}
#artistSelect.show {
    opacity: 0;

    display: flex;
}
#artistSelect.show.anim {
    opacity: 1;
}
#artistSelectTopBar {
    width: 100%;
    height: 2rem;
    
    justify-content: space-between;
}
#artistSelectClose {
    appearance: none;
    width: 2rem;
    height: 2rem;

    background: transparent;
    border: none;
    border-radius: 8px;

    transition: all 200ms ease-in-out;
}
#artistSelectClose > img {
    width: 1.5rem;
    height: 1.5rem;
}
#artistSelectClose:hover {
    background: var(--transparent-grey);
}

